@model IEnumerable<InvoiceManagement.Controllers.UserHomeController.UserHomeViewModel>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-@(item.TotalDebt>0?"danger":"success")">
            <div class="inner">
                <h3>@item.TotalDebt</h3>

                <p>@item.Block No: @item.ApartmentNumber</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-invoice"></i>
            </div>
                <a href="@Url.Action("Index","UserDebt",new{item.ApartmentId})"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i>

    </a>
        </div>
    </div>

    }
    <!-- ./col -->
</div>